button, .btn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--fs-neg-2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; /* Fixes an odd bug where it is sometimes offset */

    column-gap: var(--spacing-xs-sm);
    row-gap: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md-lg);
    min-height: 20px;
    box-sizing: content-box;
    border-radius: var(--border-radius-md);
    border: 0;
    /* border: 1px solid var(--c-border); */

    cursor: pointer;

    background-color: var(--c-neutral);
    color: var(--c-text);

    transition: background-color 0.1s var(--transition-ease-out);
}
button:not(:disabled):hover,
.btn:not(:disabled):hover {
    color: var(--c-text-strong);
    background-color: var(--c-neutral-subtle);
}
button:not(:disabled):active,
.btn:not(:disabled):active {
    color: var(--c-text-strong);
    background-color: var(--c-neutral-soft);
}
button:disabled, .btn:disabled {
    cursor: not-allowed;
    filter: opacity(0.33);
}

.btn-even-padding {
    padding: var(--spacing-sm);
}
@media(max-width: 768px) {
    .btn-mobile-icon-padding {
        padding: var(--spacing-sm) var(--spacing-md);
    }
}


/* Button text */
.btn-text {
    background-color: transparent;
    color: var(--c-text);
    cursor: pointer;

    transition: color 0.1s var(--transition-ease-out),
                background-color 0.1s var(--transition-ease-out);
}
.btn-text:not(:disabled):hover {
    background-color: var(--c-neutral-soft);
    color: var(--c-text-strong);
}
.btn-text:not(:disabled):active {
    background-color: var(--c-neutral);
    color: var(--c-text-strong);
}


/* Special buttons */
.btn-underline {
    cursor: pointer;
    text-decoration: none;
    color: currentColor !important;
    
    &:hover {
        text-decoration: underline;
    }
}

.btn-pill {
    padding: var(--spacing-xs) var(--spacing-sm-md);
    border-radius: 100px;
    font-weight: 500;
    white-space: nowrap;
}


/* Normal colored buttons */
.btn-primary {
    color: var(--c-text-inv);
    background-color: var(--c-primary);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-primary:not(:disabled):hover {
    color: var(--c-text-inv-strong);
    background-color: var(--c-primary-subtle);
}
.btn-primary:not(:disabled):active {
    color: var(--c-text-inv-strong);
    background-color: var(--c-primary-soft);
}

.btn-accent {
    background-color: var(--c-accent);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-accent:not(:disabled):hover {
    background-color: var(--c-accent-subtle);
}
.btn-accent:not(:disabled):active {
    background-color: var(--c-accent-soft);
}

.btn-favourite {
    background-color: var(--c-favourite);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-favourite:not(:disabled):hover {
    background-color: var(--c-favourite-subtle);
}
.btn-favourite:not(:disabled):active {
    background-color: var(--c-favourite-soft);
}

.btn-positive {
    background-color: var(--c-positive);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-positive:not(:disabled):hover {
    background-color: var(--c-positive-subtle);
}
.btn-positive:not(:disabled):active {
    background-color: var(--c-positive-soft);
}

.btn-warning {
    background-color: var(--c-warning);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-warning:not(:disabled):hover {
    background-color: var(--c-warning-subtle);
}
.btn-warning:not(:disabled):active {
    background-color: var(--c-warning-soft);
}

.btn-negative {
    background-color: var(--c-negative);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-negative:not(:disabled):hover {
    background-color: var(--c-negative-subtle);
}
.btn-negative:not(:disabled):active {
    background-color: var(--c-negative-soft);
}


