.card {
    background-color: var(--c-bg-level-1);
    border-radius: 16px;
    padding: var(--spacing-md-lg);
}


a.hover-line {
    text-decoration: none;
    color: currentColor !important;
}
a.hover-line:hover {
    text-decoration: underline;
}

.subtle {
    color: var(--c-text-subtle) !important;
}
a.subtle:hover,
.btn.subtle:hover,
button.subtle:hover {
    color: var(--c-text-soft) !important;
}

.soft {
    color: var(--c-text-soft) !important;
}
a.subtle:hover,
.btn.subtle:hover,
button.subtle:hover {
    color: var(--c-text) !important;
}


/* Fix inline icon positioning */
svg.inline {
    display: inline-block;
    vertical-align: text-bottom;
}


.badge {
    font-size: var(--fs-neg-2);
    font-weight: 600;
    padding: 4px 8px;
    border-radius: var(--border-radius-sm);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    background-color: var(--c-badge-neutral-bg);
    color: var(--c-badge-neutral-text);
}
.badge-primary  { background-color: var(--c-badge-primary-bg); color: var(--c-badge-primary-text); }
.badge-positive { background-color: var(--c-badge-positive-bg); color: var(--c-badge-positive-text); }
.badge-warning  { background-color: var(--c-badge-warning-bg); color: var(--c-badge-warning-text); }
.badge-negative { background-color: var(--c-badge-negative-bg); color: var(--c-badge-negative-text); }


span.seperator {
    opacity: 0.5;
}


.loading-wave {
    background: linear-gradient(
        90deg,
        var(--c-bg-level-1) 40%,
        var(--c-bg-level-2) 70%,
        var(--c-bg-level-1) 100%
    );
    background-size: 200% 100%;
    animation: loading-wave 1.25s infinite linear;
}
@keyframes loading-wave {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
