
/* ----------- Colors ----------- */
:root {
    --color-scheme: light;

    /* Background levels */
    --c-bg-base: hsl(240, 5%, 95%);
    --c-bg-level-1: hsl(0, 5%, 100%);
    --c-bg-level-2: hsl(240, 5%, 95%);

    /* Texts */
    --c-text-strong: hsl(240, 10%, 2.5%);
    --c-text: hsl(240, 10%, 10%);
    --c-text-soft: hsl(240, 5%, 33%);
    --c-text-subtle: hsl(240, 5%, 45%);
    --c-text-inv: hsl(0, 0%, 100%);

    /* Inputs and borders */
    --c-border: hsl(240, 6%, 90%);
    --c-border-strong: hsl(240, 5%, 65%);
    --c-input: hsl(0, 0%, 100%);
    --c-input-text: var(--c-text);

    /* Branding colors */
    --c-primary: #1e1e24;
    --c-primary-hover: #2d2d35;
    --c-primary-active: #0f0f12;

    --c-accent: #0284c7;
    --c-accent-hover: #0369a1;
    --c-accent-active: #0c4a6e;

    --c-positive: #16a34a;
    --c-positive-hover: #15803d;
    --c-positive-active: #166534;

    --c-warning: #eab308;
    --c-warning-hover: #ca8a04;
    --c-warning-active: #a16207;

    --c-negative: #dc2626;
    --c-negative-hover: #b91c1c;
    --c-negative-active: #991b1b;

    --c-neutral: #e4e4e7;
    --c-neutral-hover: #d4d4d8;
    --c-neutral-active: #a1a1aa;


    /* Badge colors */
    --c-badge-neutral-bg: #e4e4e7;
    --c-badge-neutral-text: #52525b;

    --c-badge-primary-bg: #e2e8f0;
    --c-badge-primary-text: #1e293b;

    --c-badge-positive-bg: #dcfce7;
    --c-badge-positive-text: #166534;

    --c-badge-warning-bg: #fef9c3;
    --c-badge-warning-text: #854d0e;

    --c-badge-negative-bg: #fee2e2;
    --c-badge-negative-text: #991b1b;
}

/* ----------- Spacings ----------- */
:root {
    --spacing-layout-inline: 5vw;

    --spacing-xs: 4px;
    --spacing-xs-sm: 6px;
    --spacing-sm: 8px;
    --spacing-sm-md: 12px;
    --spacing-md: 16px;
    --spacing-md-lg: 24px;
    --spacing-lg: 32px;
    --spacing-lg-xl: 48px;
    --spacing-xl: 64px;

    --border-radius-sm: 4px;
    --border-radius-sm-md: 6px;
    --border-radius-md: 8px;
    --border-radius-md-lg: 12px;
    --border-radius-lg: 16px;
    --border-radius-lg-xl: 24px;
    --border-radius-xl: 32px;
}

/* ----------- Font sizes ----------- */
:root {
    --fs-neg-2: 0.75rem;  /* 12px - Badges, tiny text */
    --fs-neg-1: 0.875rem; /* 14px - Labels, secondary buttons */
    --fs-0:     1rem;     /* 16px - Main body text */
    --fs-1:     1.25rem;  /* 20px - h4 */
    --fs-2:     1.5rem;   /* 24px - h3 */
    --fs-3:     1.875rem; /* 30px - h2 */
    --fs-4:     2.25rem;  /* 36px - h1 */
}

/* ----------- Transitions ----------- */
:root {
    --transition-ease-out: cubic-bezier(.23,.52,.4,.95);
    --transition-ease-out-str: cubic-bezier(0.25, 1, 0.5, 1);
    --transition-ease-in-out: cubic-bezier(0.5, 0, 0.5, 1);
    --transition-bounce: cubic-bezier(.33,.24,.19,1.45);
}

/* ----------- Z indexes ----------- */
:root {
    --z-modal: 2000;
    --z-nav: 1000;
}

/* ----------- Blur amounts ----------- */
:root {
    --blur-heavy: 32px;
    --blur-subtle: 16px;
}

/* ----------- Specials ----------- */
:root {
    --title-card-width: 185px;
    --collection-card-width: 475px;

    @media(max-width: 768px) {
        --collection-card-width: 100%
    }
}
